@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

:root {
  --font-color: #FFF0C9;
  --gray: #3b3b3b;
  --gray-light: #8d8d8d;
  --gray-hard: #1f1f1f;
  --yellow: #a5992f;
  --font-family: 'Montserrat', sans-serif;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131313;
  color: var(--font-color);
}

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background-color: #131313;
  border-radius: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  padding: 0 1px;
  border-radius: 5px;
}
iframe{
  display: none;
}